*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.kotlin/errors/errors-1767106572755.log
/.kotlin/errors/errors-1767106658374.log
/.kotlin/errors/errors-1767106703558.log
/.kotlin/errors/errors-1767106972019.log
/.kotlin/errors/errors-1767107000609.log
